body {
    font-family: monospace;
    background-color: darkslategray;
    color: whitesmoke;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
}

.center {
    display: flex;
    justify-content: center;
}

.title {
    margin-bottom: 4rem;
}

.icon-container {
    margin: 10px;
}
